<p class="tip">
	Browse the categories to find the items you want to compare and click to add them to the table below.<br>
	Click again on their names or the <i>remove</i> link to remove them.
</p>

<div id="browse_groups">
	<div class="wrapper">
		<ul id="pane-1" class="pane">
			<%= render @roots %>
		</ul>
		<% 5.times.each do |i| %>
			<ul id="pane-<%= i+2 %>" class="pane" style="display:none"></ul>
		<% end %>
	</div>
</div>
<div id="comparison"></div>

<script type="text/javascript" charset="utf-8">
	shownIds = [];
	
	itemChecked = function(itemId){
		li = $$('#browse_groups li.item_type[data-item-id="'+itemId+'"]')[0];
		if(shownIds.indexOf(itemId) == -1){
			shownIds.push(itemId);
			if(li){li.addClassName('shown');};
		}else{
			shownIds = shownIds.without(itemId);
			if(li){li.removeClassName('shown');};
		};
		
		<%= remote_function(:url => {:action => "add_or_remove"}, :with => "'shown_ids='+shownIds.join(',')") %>
	};
	
	addAll = function(ids){
		ids.each(function(id){
			if(shownIds.indexOf(id) == -1){
				shownIds.push(id);
				$$('#browse_groups li.item_type[data-item-id="'+id+'"]')[0].addClassName('shown');
			};
		});
		
		<%= remote_function(:url => {:action => "add_or_remove"}, :with => "'shown_ids='+shownIds.join(',')") %>
	};
	
	clearComparison = function(){
		shownIds = [];
		$('comparison').update('');

		$$('#browse_groups li.item_type').each(function(li){
			li.removeClassName('shown');
		});
	};
</script>
