<p class="tip">
	Add new lines as you see fit to contain all items of the contract.<br>
	Results and total are calculated in real time.<br>
	The item names are not used in the calculations.
</p>

<ul id="calculations">
	<li id="add-new-line">
		<span class="label">Item</span>
		<span class="price">ISK</span>
		<span class="quantity">Quantity</span>
		<a href="#" onclick="addNewLine(); return false;">add new line</a>
	</li>
	<li id="total">
		<span class="label">TOTAL</span>
		<span class="result">0.00</span>
	</li>
</ul>

<script type="text/javascript" charset="utf-8">
	lastLineId = 0;
	total = 0;
	
	addNewLine = function(){
		id = lastLineId + 1;
		
		$('total').insert({
			before: '<li class="calculation" id="calculation-'+id+'"><span class="result">0.00</span><input type="text" class="label" value="Item name"><input type="text" value="0.00" class="price" onkeyup="calculateResult('+id+')">&times;<input type="text" value="0" class="quantity" onkeyup="calculateResult('+id+')">=</li>'
		});
		$$('#calculation-'+id+' .label')[0].focus();
		lastLineId = id;
	};
	
	addNewLine();
	
	calculateResult = function(id){
		previousResult = new Number($$('#calculation-'+id+' .result')[0].innerHTML);
		newResult = new Number(($$('#calculation-'+id+' .price')[0].value * $$('#calculation-'+id+' .quantity')[0].value));
		
		total = total - previousResult + newResult;
		
		$$('#calculation-'+id+' .result')[0].innerHTML = newResult.toFixed(2);
		$$('#total .result')[0].innerHTML = total.toFixed(2);
	};
</script>
