<h1>Debug#dump</h1>
<p>Find me in app/views/debug/dump.html.erb</p>

<hr><h2>Request:</h2>
<pre><%=h request.env.inspect.gsub(/, /, "\n") %></pre>

<hr><h2>Cookies:</h2>
<pre><%=h cookies.to_yaml %></pre>
