html {
	height: 100%;
	background-color: #333;

	body {
		color: white;
		min-height: 100%;

		#main {
			min-height: 500px;
		}
	}
}

a {
	color: lightgrey;
	text-decoration: none;
	
	:hover {
		text-decoration: underline;
	}
}

a#logo {
	float: left;
	display: block;
	height: 128px;
	width: 140px;
	margin: 8px 32px 0 8px;
}

#header {
	height: 128px;
	margin-bottom: 16px;

	#navigation {
		margin-left: 180px;
		top: 16px;
		position: relative;
		
		li {
			background: #666;
			padding: 8px;
			margin-bottom: 4px;

			span.current {
				color: #999;
				background-color: black;
				padding: 4px 6px;
			}

			a {
				padding: 4px 6px;

				:hover {
					border: 2px solid black;
					padding: 2px 4px;
				}
			}
		}
	}
}

#footer {
	border-top: 1px solid white;
	font-size: 12px;
	padding: 8px 24px 16px;
	margin-top: 32px;
	text-align: right;
	
	p {
		margin-top: 4px;
	}
	
	a {
		margin-left: 12px;
	}
	
	p.stats {
	    float: left;
	    text-align: left;
	}
}

h1 {
	font: 24px bold;
	padding: 2px 0 4px 16px;
	margin-bottom: 28px;
	border-bottom: 1px solid white;
	height: 64px;
	
	img.icon {
		position: relative;
		top: 24px;
	}
}

p.tip {
	background: #222 url("http://eve-box.s3.amazonaws.com/images/icons/64_64/icon49_03.png") no-repeat top left;
	margin: 8px 80px 32px;
	border: 4px solid #666;
	padding: 8px 8px 8px 64px;
	min-height: 64px - 16px;
}

body.tools#compare_items {
	#browse_groups {
		height: 300px;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		padding-bottom: 16px;
		
		.wrapper {
			@pane-width: 240px;
			height: 100%;
			width: @pane-width * 6;

			ul.pane {
				height: 100%;
				width: @pane-width;
				overflow-y: scroll;
				overflow-x: hidden;
				float: left;
				
				li {
					width: @pane-width - 26;
					padding: 2px 20px 2px 6px;
					
					a.name {
						display: block;
						margin-right: 20px;
					}
					
					a.ingame-item-info {
						float: right;
					}
				}
				
				li.selected {
					background-color: darkgreen;
				}
				
				li.shown {
					background-color: olive;
				}
				
				li.add_all_items {
					text-align: right;
					margin-top: 16px;
					font-size: 12px;
				}
			}
		}
	}
	
	#comparison {
		padding: 4px;
		
		table {
			td {
				font-family: monospace;
				text-align: right;
				padding: 0 4px;
				border-left: 1px solid white;
			}
			
			th {
				padding: 2px;
			}
			
			tr.items {
				th.name {
					padding: 2px 8px;
					width: 100px;
					text-align: center;
					
					a.ingame-item-info img {
						vertical-align: middle;
					}
					
					div.name {
						min-height: 40px;
					}
					
					div.remove {
						font-size: 12px;
						text-align: right;
						
						a:hover {
							color: red;
						}
					}
				}
			}
			
			tr.category th {
				font-size: 18px;
				border-bottom: 2px solid white;
				padding: 16px 0 0 48px;
			}
			
			tr.attribute {
				th.name {
					padding: 2px 8px 2px 4px;
					width: 120px;
				}
			}
			
			tr.attribute.odd {
				th, td {
					background-color: black;
				}
			}
			
			tr.attribute.even {
				th, td {
					background-color: #222;
				}
			}
			
			tr.attribute.odd,
			tr.attribute.even {
				td.best {
					color: green;
				}
			}
		}
	}
}

body.tools#calculator {
	ul#calculations {
		margin: 16px;
		
		li#add-new-line {
			text-align: right;
			padding-right: 8px;
			
			span {
				float: left;
				display: block;
				width: 150px;
				text-align: center;
				margin: 0 16px;
			}
			
			span.label {
				margin-left: 8px;
			}
			
			span.price {
				margin: 0 16px 0 40px;
			}
		}
		
		li.calculation {
			input, span {
				padding: 2px 4px;
				margin: 8px;
			}

			input {
				width: 150px;
				background-color: #666;
				color: white;
				border: 1px solid black;
			}
			
			input.price, input.quantity {
				text-align: right;
			}
			
			input.label {
				margin-right: 32px;
			}
			
			span.result {
				display: block;
				float: right;
			}
		}
		
		li#total {
			margin-top: 16px;
			padding-top: 8px;
			border-top: 2px solid black;
			padding-right: 4px + 8px;
			text-align: right;
			height: 18px;
			
			span.result {
				float: right;
			}
			
			span.label {
				float: left;
				margin-left: 500px;
			}
		}
	}
}

body.static#contact #main p,
body.static#copyright #main p,
body.welcome #main p {
	font-size: 18px;
	padding: 0 30px 0 100px;
}

body.static#faq #main ul {
	body.static#contact #main p;

	li {
		margin-bottom: 32px;

		p.question {
			color: #999;
			margin-bottom: 8px;
		}
	}
}

body.mining#ore_value {
	#market-prices {
		font-size: 16px;
		margin-left: 16px;
		
		input {
			width: 100px;
			padding: 2px 4px;
			text-align: right;
			background-color: black;
			color: #aaa;
			border: 1px solid #666;
			
			:hover {
				color: white;
			}
		}
		
		input[type=submit] {
			width: 180px;
			text-align: center;
		}
		
		td {
			padding: 2px 4px;
		}
		
		th {
			text-align: center;
			
			img {
				vertical-align: middle;
			}
		}
	}
	
	#ores {
		margin: 32px 0 0 16px;
		
		th {
			text-align: center;
			min-width: 80px;
			border-right: 1px solid black;
			height: 64px;
		}
		
		th.isk {
			text-align: right;
			border-right: none;
			vertical-align: bottom;
			padding-bottom: 4px;
			height: 60px;
		}
		
		td {
			text-align: right;
			border-left: 1px solid black;
			padding: 2px 4px;
		}
		
		tr.odd td {
			background-color: #666;
		}
		
		td.ore-name {
			text-align: left;
			border-left: none;
			
			a.ingame-item-info {
				float: right;
				margin-left: 8px;
				
				img {
					vertical-align: middle;
				}
			}
		}
	}
}

body.welcome#home #main {
	ul#tool-links {
		height: 150px;
		margin: 80px;
		
		li {
			float: left;
			height: 150px;
			width: 150px;
			font-size: 12px;
			text-align: center;
			margin-right: 16px;
			
			img, a {
				display: block;
			}
			
			img {
				margin-left: (150px - 128px)/2;
			}
			
			a {
				height: 150px;
				width: 150px;
			}
			
			a:hover {
				background-color: #666;
				color: white;
			}
		}
	}
}

a#save-this {
	border: 1px solid #666;
    background-color: black;
    padding: 2px 4px;
    margin: 2px 8px;
    
    :hover {
        background-color: #333;
        color: white;
    }
}

a#link-to-this {
	font-family: monospace;
}
