<p>
	This is a website containing some <%= link_to "EVE Online", "http://www.eveonline.com/" %> specific tools.
</p>
<p>
	For more info check the <%= link_to "FAQ", {:controller => "static", :action => "faq"} %>.
</p>
