<p>You can email me at <%=raw mail_to "paraligo@eve-box.com", nil, {:encode => "javascript", :replace_at => " (at) ", :replace_dot => " (dot) ", :subject => "about EVE-Box"} %> or send an in-game mail at Paraligo</p>
