<p>You can email me at <%=raw mail_to "vrinek502@gmail.com", nil, {:encode => "javascript", :replace_at => " (at) ", :replace_dot => " (dot) ", :subject => "about EVE-toolbox"} %> or send an in-game mail at Paraligo</p>
