<li class="market_group" data-depth="<%= @depth %>" data-group-id="<%= market_group.id %>">
	<%= link_to_remote market_group.name, {:url => {:action => :fetch_children, :id => market_group.id, :depth => market_group.depth}}, {:class => 'name'} %>
</li>
