<div id="footer">
	<p>
		<%= link_to "FAQ", {:controller => "static", :action => "faq"} %>
		<%= link_to "contact", {:controller => "static", :action => "contact"} %>
		<%= link_to "copyright", {:controller => "static", :action => "copyright"} %>
	</p>
</div>
