<div id="footer">
	<p class="version">
		Database version: Dominion 1.1.1
	</p>
	<p class="static-links">
		<%= link_to "FAQ", {:controller => "static", :action => "faq"} %>
		<%= link_to "contact", {:controller => "static", :action => "contact"} %>
		<%= link_to "copyright", {:controller => "static", :action => "copyright"} %>
	</p>
</div>
