<div id="header">
	<%= link_to image_tag("logo.png"), "/", :id => "logo" %>
	<ul id="navigation">
		<li>
			<span class="category">General Tools:</span>
			<%= nav_link "Item Comparison", {:controller => "item_comparison", :action => "index"} %>
			<%= nav_link "Contract Calculator", {:controller => "contracts", :action => "show"} %>
		</li>
		<li>
			<span class="category">Mining Tools:</span>
			<%= nav_link "Ore value", {:controller => "mineral_value_sets", :action => "index"} %>
		</li>
	</ul>
</div>
