<%= link_to image_tag("logo.png"), "/", :id => "logo" %>
<ul id="header">
	<li>
		<span class="category">Item Tools:</span>
		<%= nav_link "Comparison", {:controller => "tools", :action => "compare_items"} %>
	</li>
</ul>
