<div id="header">
	<%= link_to image_tag("logo.png"), "/", :id => "logo" %>
	<ul id="navigation">
		<li>
			<span class="category">Item Tools:</span>
			<%= nav_link "Comparison", {:controller => "tools", :action => "compare_items"} %>
		</li>
		<li>
			<span class="category">Mining Tools:</span>
			<%= nav_link "Ore value", {:controller => "mining", :action => "ore_value"} %>
		</li>
	</ul>
</div>
